<?xml version="1.0" encoding="utf-8"?>
<ConfigData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <commandsdb>commands.db</commandsdb>
  <commandheaderfile>commands.h</commandheaderfile>
  <visitors>
    <string>GlobalCommandVisitor</string>
    <string>DeclarationVisitor</string>
    <string>InitializationVisitor</string>
    <string>DefinitionVisitor</string>
  </visitors>
  <implementationextension>.fsm.h</implementationextension>
  <definitionextension>.cpp</definitionextension>
</ConfigData>